<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapi</title>
</head>
<body>
    <h2>Get first person from Star Wars API</h2>
    <button id="getFirstPersonBtn">Get first person</button>
    <div id="result"></div>
    <table id="resultTable"></table>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous"></script>
    <script src="../scripts/exercise2.js"></script>
</body>
</html>