<!DOCTYPE html>
<html>
<head>
    <title>Class AJAX</title>
</head>
<body>
    <h1>We are learning about AJAX</h1>
    <h1 id="academy"></h1>
    <ul id="students"></ul>
    <ul id="astros"></ul>
    <button id="plainJsRequest">Plain js request</button>
    <button id="getStudentsBtn">Get students</button>
    <button id="getAstronautsBtn">Get astronauts</button>
    <button id="fetchStudentsBtn">Fetch Students</button>
    <button id="fetchAstronautsBtn">Fetch astronauts</button>
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous"></script>
    <script src="../scripts/plainJsCall.js"></script>
    <script src="../scripts/jqueryCalls.js"></script>
    <script src="../scripts/fetchApi.js"></script>
</body>
</html>